body{
    margin: 0;
    font-family: "Raleway", sans-serif;
    background: #f3e9f1;
}
 
.bg-orinoco {
    background: #f3e9f1;
}
 
*{
    box-sizing: border-box;
}
 
a{
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
    font-size: 19px;
    margin: 0;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.card-img-top{
    height: 150px;
    display: flex;
    flex-direction: column;
}

.col {
    display: inline-block;
}

.main__produit {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.produit {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.produit__img {
    display: flex;
    width: 300px;
    justify-content: center;
    margin-left: 635px;
}

.article__img {
    width: 300px;
}